# Assignment_1(2nd Feb)

**Q1 : Explain with an example each when to use a for loop and a while loop.**

**Ans:**

**for Loop:** We use 'for loop' when we want to iterate(perform or utter repeatedly) over a sequence of  different data types in python ex. list,tuple,set, string and dictionary

**While loop:** when we want to excute a piece of code in which a certain condition is met

In [1]:
#ex. of for loop
#names:  [data type list]
names = ['Anurag', 'arjun', 'kartik', 'abhinav', 'pushpak']
for name in names:
    print(name)

Anurag
arjun
kartik
abhinav
pushpak

In [2]:
#ex. of while loop 
#list_1 :  [data type list]
list_1 = [1,2,3,4,5,6,7,8,9,10]
num = 5
while list_1:
    if num in list_1:
        print('Num = 5 present in list_1')
        break

Num = 5 present in list_1

**Q2: Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.**

example_1 using for loop

In [3]:
#ex1. using for loop
#sum and product of 1st 10 natural number

natural_num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
product = 1

for i in natural_num:
    sum += i
    product *= i 

print('sum of 1st 10 natural number is: ', sum)
print('sum of 1st 10 natural number is: ', product)

sum of 1st 10 natural number is:  55
sum of 1st 10 natural number is:  3628800

example_2 using for loop (help of range fuction)

In [4]:
#ex. 2 for loop using with the help of range function

sum = 0
product = 1

for i in range(1,11):
    sum += i
    product *= i

print('sum of 1st 10 natural number is: ', sum)
print('sum of 1st 10 natural number is: ', product)

sum of 1st 10 natural number is:  55
sum of 1st 10 natural number is:  3628800

Q3 : Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input.

Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

ans: below code

In [5]:
#my_1st attempt
amount = 0
num = int(input('enetr number:' ))
if num <= 100:
    amount = num * 4.5
if num >=100 & num <=200:
    amount = 450 + (num - 100) *6
if num >=201 & num <=301:
    amount = 1050 + (num - 200) * 10
if num>=301:
    amount=2050+(num-300)*20
else:
    print("invalid")
print(amount)

enetr number: 310

2250

In [6]:
#ex. no. 2
unit = int(input('Enter the number of unit consumed: '))
bill = 0 
if unit <= 100:
    bill = unit * 4.5
elif unit <=200:
    bill = (100*4.5) + ((unit-100) * 6)
elif unit <= 300:
    bill= (100*4.5) + (100*6) + ((unit-200)-10)
else:
    bill = (100*4.5) + (100*6) + (100*10) + ((unit-300)*20)
print("total electricty bill is :", bill,'Rs')

Enter the number of unit consumed:  310

total electricty bill is : 2250.0 Rs

In [7]:
#ex. no. 3 "USING for loop
units = int(input("Enter the number of units consumed: "))
bill = 0

for i in range(1, units+1):
    if i <= 100:
        bill += 4.5
    elif i <= 200:
        bill += 6
    elif i <= 300:
        bill += 10
    else:
        bill += 20

print("The total electricity bill is: Rs.", bill)

Enter the number of units consumed:  310

The total electricity bill is: Rs. 2250.0

Q4: Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

Ans: below code

In [8]:
#using for loop
list1 = list(range(1,101))
list2 = []
for i in list1:
    cube = i ** 3
    if (cube % 4 == 0) or (cube % 5 == 0):
        list2.append(i)
print(list2)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5 Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

Ans: below code

In [9]:
string = "I want to become a data scientist"
vowels = ['a','e','i','o','u']
count_vowels_in_string = 0
for elements in string:
    if elements in vowels:
        count_vowels_in_string += 1
        
print(count_vowels_in_string)

11